@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 223, 228;
  --background-rgb: 40, 44, 52;
  --half-red: #e06c75;
	--half-green: #98c379;
	--half-yellow: #e5c07b;
	--half-blue: #61afef;
	--half-purple: #c678dd;
	--half-cyan: #56b6c2;
	--half-white: #dcdfe4;
	--half-black: #282c34;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-rgb));
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}